form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid black;
    min-height: 30vh;
    align-items: center;
    h2 {
        font-weight: 400;
    }
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
   }
}