<div class="container">
    <div class="sidebar">
        <mat-form-field appearance="fill">
            <mat-label>Сategories</mat-label>
            <select matNativeControl >
                <option value="">None</option>
              <option value="fitness">Fitness</option>
              <option value="gadgets">Gadgets</option>
              <option value="atractions">Atractions</option>
              <option value="food">Food</option>
              
            </select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Locations</mat-label>
            <select matNativeControl>
                <option value="none">None</option>
              <optgroup label="Belarus">
                <option value="minsk">Minsk</option>
                <option value="brest">Brest</option>
                <option value="grodno">Grodno</option>
              </optgroup>
              <optgroup label="Ukraine">
                <option value="kyiv">Kyiv</option>
                <option value="vinnytsia">Vinnytsia</option>
                <option value="lemberg">Lemberg</option>
              </optgroup>
            </select>
          </mat-form-field>
    </div>
    <div class="main">
        main section
    </div>
</div>
